<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DMC Office Window</title>

    <link rel="stylesheet" href="./bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="./stylesheets/dashboard.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="./bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://cdn.peerjs.com/0.3/peer.js"></script>

    <script>
      // Compatibility shim
      navigator.getUserMedia = navigator.getUserMedia
                            || navigator.webkitGetUserMedia
                            || navigator.mozGetUserMedia;

      // PeerJS object
      //aqu2ngp60qr7wrk9
      var peer = new Peer('<%- peerid %>' , { key: 'lwjd5qra8257b9', debug: 3, 
        config: {'iceServers': [
        { url: 'stun:stun.l.google.com:19302' } // Pass in optional STUN and TURN server for maximum network compatibility
      ]}});

      peer.on('open', function(){
        $('#my-id').text(peer.id);
      });

      // Receiving a call
      peer.on('call', function(call){
        // Answer the call automatically
        call.answer(window.localStream);
        state_call_in_progress(call);
      });
      peer.on('error', function(err){
        alert(err.message);
        // Return to idle state if error occurs
        state_idle();
      });

      // Click handlers setup
      $(function(){

        // Start call
        $('#make-call').click(function(){
          var call = peer.call($('#callto-id').val(), window.localStream);
          state_call_in_progress(call);
        });

        // End call
        $('#end-call').click(function(){
          window.existingCall.close();
          state_idle();
        });

        // Retry if getUserMedia fails
        $('#state_setup-retry').click(function(){
          $('#state_setup-error').hide();
          state_setup();
        });

        // Get things started
        state_setup();
      });

      function state_setup () {
        $('#state_idle, #state_call_in_progress').hide();
        $('#state_setup').show();

        // Get audio/video stream
        navigator.getUserMedia({audio: true, video: true}, function(stream){
          // Set your video displays
          $('#my-video').prop('src', URL.createObjectURL(stream));

          window.localStream = stream;
          state_idle();
        }, function(){ $('#state_setup-error').show(); });
      }

      function state_idle () {
        $('#state_setup, #state_call_in_progress').hide();
        $('#state_idle').show();
      }

      function state_call_in_progress (call) {
        // Hang up on an existing call if present
        if (window.existingCall) {
          window.existingCall.close();
        }

        // Wait for stream on the call, then set peer video display
        call.on('stream', function(stream){
          $('#their-video').prop('src', URL.createObjectURL(stream));
        });

        // UI stuff
        window.existingCall = call;
        $('#their-id').text(call.peer);
        call.on('close', state_idle);
        $('#state_setup, #state_idle').hide();
        $('#state_call_in_progress').show();
      }
    </script>

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">DMC Office Window</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Logged in as <%=offices[0]%></a></li>
                <li><a href="#">Another action</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview</a></li>

            <!-- List of offices -->
            <% for(var i=0; i<offices.length; i++) { %>
              <li>
                <a href="#"><%= offices[i] %></a>
              </li>
            <% } %>
          </ul>
        </div>

        <!-- Main Body -->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div style="width:100%; height:0; padding-bottom:66%">
              <video id="their-video" autoplay></video>
              <video id="my-video" muted="true" autoplay></video>
            </div>

            <h2>PeerJS Video Chat</h2>

            <!-- Get local audio/video stream -->
            <div id="state_setup">
              <p>Please click 'Allow' at the top of the screen to allow access to webcam and microphone</p>
              <div id="state_setup-error">
                <p>Failed to access the webcam and microphone. Please check permissions.</p>
                <a href="#" class="btn btn-danger" id="state_setup-retry">Try again</a>
              </div>
            </div>

            <!-- Make calls to others -->
            <div id="state_idle">
              <p>Your id: <span id="my-id">...</span></p>
              <p>Share this id with others so they can call you.</p>
              <h3>Make a call</h3>
              <div class="form-group">
                <input type="text" placeholder="Call user id..." id="callto-id">
                <a href="#" class="btn btn-success" id="make-call">Call</a>
              </div>
            </div>

            <!-- Call in progress -->
            <div id="state_call_in_progress">
              <p>Currently in call with <span id="their-id">...</span></p>
              <p><a href="#" class="btn btn-danger" id="end-call">End call</a></p>
            </div>
        </div>

      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="./bootstrap/js/bootstrap.min.js"></script>-->
  </body>
</html>

